@import 'variables';
@import 'mixins';
@import 'fonts';

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 150px;
	font-family: 'Work Sans';
	color: $white;
	background-color: $light-pink;
	background-image: url('../src/assets/images/background-pattern-desktop.svg');
	background-position: top;
	background-repeat: no-repeat;
	background-size: auto;
	background-attachment: fixed;
}

.title {
	display: flex;
	margin: 0;
	padding: 15px;
	&__text {
		font-size: 2.5rem;
		font-weight: 700;
		margin-left: 20px;
	}
	&__star {
		padding: 10px;
	}
}
.accordion {
	position: sticky;
	top: 150px;
	width: 45%;
	color: $dark-purple;
	background-color: $white;
	padding: 20px;
	border-radius: 15px;
	&__button {
		width: 100%;
		padding: 15px;
		display: grid;
		grid-template-columns: 1fr auto;
		text-align: left;
		line-height: 1.8;
		background-color: $white;
		color: $dark-purple;
		font-weight: 600;
		border: none;
		font-size: 1.1rem;
		&:hover {
			cursor: pointer;
			color: $grayish-purple;
		}
		&-content {
			margin-right: 20px;
			justify-content: left;
		}
		&-plus {
			display: block;
			&--active {
				display: none;
			}
		}
		&-minus {
			display: none;
			&--active {
				display: block;
			}
		}
	}
	&__content {
		display: none;
		padding: 15px;

		&--active {
			display: block;
		}
	}
}
